@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .bg-pattern {
    background-image: url('./assets/bg-pattern-dark.png');
    background-repeat: repeat;
    background-size: 400px;
    background-color: rgba(255, 217, 0, 0.16); 
  }
  